body{ background:#f0f0f0;}

/*导航样式*/
#div_nav{ height:21px; background:#fff url(../images/navigate.jpg)  no-repeat 0 0; padding:10px 0 0}
#div_nav p{ float:left;}
#div_nav select{ float:right; margin:0 10px 0 0}

/*标题样式*/
#div_title{ background:#E3F0FB; border-bottom:1px solid #999; padding:5px 10px; margin:0 0 5px}
h3{ padding:0 8px 5px 30px; color:#f60; background:url(../images/jiantou.jpg) no-repeat 10px 1px; font-size:13px }


/*搜索样式*/
#div_search{ clear:both}
.submit_search{ width:60px; height:19px; background:url(../images/button/button_search.jpg) no-repeat 0 0;
    padding:3px 0 0 20px; letter-spacing:3px;
    border:none; color:#666}/*搜索按钮*/

#div_button{ padding:3px 30px}/*按钮容器*/

#main_list{ height:630px; overflow:auto;}/*自动出现滚动条容器，需要更改高度*/
#main11_list{ height:630px; overflow:auto;}/*自动出现滚动条容器，需要更改高度*/


/*表单和列表样式*/

.t_list1,
.t_form{ background-color:#ffffff; width:90%; margin:0 auto 15px;font-size:12px; border-top:1px #717171 solid; border-left:1px #717171 solid;}/*表单和列表样式*/

.t_form td,
.t_form th,
.t_list1 th,
.t_list1 td{ border-bottom:1px #717171 solid; border-right:1px #717171 solid; text-align:center; padding:2px 1px;  }

.t_list1 th{background:url(../images/anniu.jpg) repeat-x 0 0; height:20px; color:#647080}

.t_form td,
.t_list1 td{color:#666;}

.t_list1 .tr_grey td{ color:#bbb;}


.t_form th,
.t_form td{ text-align:left;}
.ul_col6 li{ float:left; width:25%;}


.t_list,
.t_form{ background-color:#ffffff; width:95%; margin:0 auto 15px; border-top:1px #717171 solid; border-left:1px #717171 solid;}/*表单和列表样式*/

.t_form td,
.t_form th,
.t_list th,
.t_list td{ border-bottom:1px #717171 solid; border-right:1px #717171 solid; text-align:center; padding:2px 1px;  }

.t_list th{background:url(../images/anniu.jpg) repeat-x 0 0; height:20px; color:#647080}

.t_form td,
.t_list td{color:#666;}

.t_list .tr_grey td{ color:#bbb;}


.t_form th,
.t_form td{ text-align:left;}
.ul_col6 li{ float:left; width:15%;}

/*底部样式 包括分页和返回*/
.t_bottom{ background:#539DE8; width:100%; position:absolute; left:0; bottom:0;}